<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css" />
    <script src="static/jquery/jquery.js"></script>
    <script src="static/bootstrap/bootstrap.min.js"></script>
    <script src="static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
  </head>
  <br></br>
  <body>
    <div class="row container">
      <div class="col">
        <b>Add item</b>
        <input type="text" placeholder="Item" id="itemInput"></input>
        <button type="button" class="btn btn-primary btn-sml" id="addItemBtn">Add</button>
        
      </div>
      <div class="col">
        <b>Current List:</b>
        <div id="itemList"></div>
        <button type="button" class="btn btn-secondary" id="editBtn">Edit</button>
        <button type="button" class="btn btn-danger" id="deleteBtn">Delete</button>
        <input type="text" placeholder="Enter ID to Delete Item" id="delInput"></input>
        <input type="text" placeholder="Enter ID of Current Item" id="editInput"></input>
        <input type="text" placeholder="Updated Item" id="updateInput"></input>
      </div>
    </div>
    <br />
    <br />
    <div class="container">
      <b>Inventory</b>
        <table class="table table-bordered table table-hover" id="inventory">
          <td><b>Item</b></td>
          <td><b>Date</b></td>    
        </table> 
        <button id=downloadBtn>Download</button>
        <!-- <a href="/inventory.csv" download>  -->
          <!-- <button>Download</button>  -->
        </a> 
      </div>
    <br />
    <br />
  </body>
</html>
